:root {
    --color-button: #6A0888;
    --color-button-light: rgba(106, 8, 136, 0.7);
    --color-white: #FFF;
}

html, body {
    font-family: 'Roboto', sans-serif;
    width: 100%;

}

header {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

main {
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    margin-bottom: 50px; 
}

input {
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

button {
    display: block;
    background-color: var(--color-button);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--color-white);
    height: 30px;
    text-align: center;
    margin: 10px 80px 0px 80px;
    cursor: pointer;
} 

li {
    display: inline;
    margin: 5px;
}

table, td, th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tarefas-tabela:hover {
    background-color: #ddd;
}

.titulo-tabela {
    background-color: var(--color-button);
    color: var(--color-white);
}
.focus:focus{
    width: 80%;
}